body {
    background-color: whitesmoke;
}

header {
    background-color: rgb(4, 37, 53);
}

p {
    margin-bottom: 0;
}

a {
    color: white;
}

a:hover {
    color: grey;
}

#earth-btn,
#wind-btn,
#fire-btn {
    width: 75px;
}

.inline-img {
    width: 35px;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgb(4, 37, 53);
} */

i {
    font-size: 20px;
}